PORT=3000
DAILY_WORD_QUOTA=80000
REDIS_URL=redis://redis:6379
# OpenTelemetry
#Set OTEL_ENABLED=true to enable OpenTelemetry instrumentation
OTEL_ENABLED=false
OTEL_SERVICE_NAME=tictactrip-api
OTEL_SERVICE_VERSION=1.0.0

OTEL_EXPORTER_OTLP_ENDPOINT=http://endpoint:4318
OTEL_EXPORTER_OTLP_INSECURE=true
# Sentry
SENTRY_DSN=